@charset 'utf-8';

a{text-decoration: none;}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'omyu_pretty';
}
/* post_list 스타일 */
#post_list{width: 700px; float: left;}

/* detail 스타일 */
#detail{width: 700px; float: left;}

/* 카테고리 스타일 */
#category{width: 200px; float: right;
        margin: 20px 100px 0 0;}
#category ul li{margin: 5px;}